<div class = "container">
  <div class= "p-2">
    <h1>Bookings Overview</h1>
  </div>
  <div class="cards flex justify-content-around">
      <% @bookings.each do |booking| %>
        <%# cards %>
        <div class="card" style="width: 18rem;">
          <% if booking.offer.photos.attached? %>
              <%= cl_image_tag booking.offer.photos.first.key, class:"card-img-top card-pic" %>
          <% end %>
          <div class="card-body">
            <h5 class="card-title"><%= booking.offer.title %></h5>
            <p class="card-text">Status: <%= booking.status %></p>
            <p class="card-text">Request by: <%= booking.user.first_name %></p>
            <p class="card-text">Offered by: <%= booking.offer.user.first_name %></p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">From: <%=booking.start_date%></li>
            <li class="list-group-item">To: <%=booking.end_date%></li>
          </ul>
          <div class = "action-buttons">
            <% if booking.offer.user == current_user && booking.status == 'pending' %>
              <%= button_to "Accept", booking_path(booking, status: 1), method: :patch, class: "btn btn-light" %>
            <% end %>
            <% if booking.offer.user == current_user && booking.status == 'pending' %>
              <%= button_to "Decline", booking_path(booking, status: 2), method: :patch, class: "btn btn-light" %>
            <% end %>
          </div>
        </div>
        <%# cards end%>
      <% end %>
      <br>
      <br>
  </div>
</div>
