<div class= "p-2"><h1>Bookings Overview</h1>
</div>
<div class="cards d-flex justify-content-around p-2">
    <% @bookings.each do |booking| %>
      <%# cards %>
      <div class="card-trip">
        <% if booking.offer.photo.attached? %>
          <img src = "<% booking.offer.photo%>" />
        <% else %>
          <img src="https://www.sophiatolli.com/uploads/images/products/513/0a737fd6_3b2f_409e_8c09_8a30f948831f.jpg?w=2000" />
        <% end %>
        <div class="card-trip-infos p-3">
          <div>
            <h2><%= booking.offer.title %></h2>
            <p><strong>Offered by: </strong><%= booking.user.first_name %></p>
            <p><strong>Booking by: </strong><%= booking.offer.user.first_name %></p>
            <p><strong>Status: </strong><%= booking.status %></p>
            <p><strong>Start: </strong> <%=booking.start_date%></p>
            <p><strong>End: </strong> <%=booking.end_date%></p>
            <%= link_to "Accept", class: "btn btn-gradient" %>
            <%= link_to "Decline", class: "btn btn-gradient" %>
          </div>
        </div>
      </div>
      <%# cards end%>
    <% end %>
</div>
