<%= render "components/banner" %>
<div class="w3-row-padding w3-grayscale" style="margin-bottom:128px width:100% padding:0">
  <div class="w3-half">
    <%= image_tag "pic_6.png" %>
    <%= image_tag "pic_7.png" %>
    <%= image_tag "pic_8.png" %>
    <%= image_tag "pic_9.png" %>
  </div>

  <div class="w3-half">
    <%= image_tag "pic_1.png" %>
    <%= image_tag "pic_2.png" %>
    <%= image_tag "pic_3.png" %>
    <%= image_tag "pic_4.png" %>
    <%= image_tag "pic_5.png" %>
  </div>
</div>
