<%= render "components/banner" %>
<div class="container" id="About">
  <h1 style="font-family: 'Crimson Text', serif">About Us</h1>
  <p>
    We help brides share the joy their dress gave them with other brides who
    want a more economic and sustainable gown. If your dress is still in great
    condition and just gathering dust, let us help you make money from it. We
    can match you with someone who loves your style! If you want an affordable
    dress that doesn't compromise on quality and can't bare the thought of
    purchasing something to be worn once, you are in the right place.
  </p>
  <br />
  <p>See some of our real brides below:</p>
</div>

<div class="container">
  <div class="row">
    <div class="col-4"><%= image_tag "pic_6.png" %></div>
    <div class="col-4"><%= image_tag "replacement.png" %></div>
    <div class="col-4"><%= image_tag "pic_7.png" %></div>
  </div>

  <div class="row">
    <div class="col-4"><%= image_tag "pic_9.png" %></div>
    <div class="col-4"><%= image_tag "pic_1.png" %></div>
    <div class="col-4"><%= image_tag "pic_2.png" %></div>
  </div>

  <div class="row">
    <div class="col-4"><%= image_tag "pic_3.png" %></div>
    <div class="col-4"><%= image_tag "pic_4.png" %></div>
    <div class="col-4"><%= image_tag "replacement-2.png" %></div>
  </div>
</div>
