<div class = "container">
  <div class="p-2">
    <h1>All dresses</h1>

    <%= form_with url: offers_path, method: :get, class: "d-flex" do %>
      <%= text_field_tag :user,
        params[:user],
        class: "form-control",
        placeholder: "Find a dress from"
      %>
      <%= text_field_tag :size,
        params[:size],
        class: "form-control",
        placeholder: "Type a size"
      %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Find a dress"
      %>
      <%= submit_tag "Search", class: "btn btn-primary" %>
      <% end %>

    <div class="cards d-flex justify-content-around p-2">
      <% @offers.each do |offer| %>
        <div class="card-trip">
        <% if offer.photos.attached? %>
          <%= cl_image_tag offer.photos.first.key, height: 300, width: 400%>
        <% end %>
          <div class="card-trip-infos p-3">
            <div>
              <h2><%= link_to offer.title, offer_path(offer) %></h2>
              <p><%=offer.description%></p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <div class="p-3">
      <%= link_to "Upload your dress for hire", new_offer_path, class: "btn btn-outline-dark" %>
    </div>
  </div>
</div>
