<div class ="container col-8">
  <h1 class ="t-2" style= "font-family: 'Crimson Text', serif;">New offer</h1>
  <br>
  <div>
  <%= simple_form_for(@offer) do |f| %>
    <%= f.error_notification %>
    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
    <br>
    <div class="form-inputs">
      <%= f.input :title %>
    </div>

    <div class="form-inputs">
      <%= f.input :price_per_day %>
    </div>

    <div class="form-inputs">
      <%= f.input :size %>
    </div>

    <div class="form-inputs">
      <%= f.input :description %>
    </div>

    <div class="form-inputs">
      <%= f.input :condition %>
    </div>

  <div class="form-inputs">
      <%= f.input :photos, as: :file, input_html: { multiple: true } %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, class: "btn btn-outline-dark" %>
    </div>
  <% end %>
  </div>

<br>

<div>
  <%= link_to "Back to offers", offers_path, class: "btn btn-outline-dark" %>
</div>
</div>
