<div class="p-5">
<h1> Dress "<%= @offer.title %>"</h1>
  <div class="p-2">
    <p> Price: <%= @offer.price_per_day %> EUR</p>
    <p> Condition: <%= @offer.condition %></p>
    <p> Description: <%= @offer.description %></p>
    <p> Offered by: <%= @offer.user.first_name %></p>
  </div>
  <div class="p-2">
    <%= link_to "Rent this dress!", class: "btn btn-gradient" %>
  </div>
</div>
