<div class="container">
  <div class="row justify-content-md-center">
    <div class="col">
    <h1> Dress "<%= @offer.title %>"</h1>
    <div class="p-2">
      <p> Price: <%= @offer.price_per_day %> EUR</p>
      <p> Condition: <%= @offer.condition %></p>
      <p> Description: <%= @offer.description %></p>
      <p> Offered by: <%= @offer.user.first_name %></p>
    </div>

    <div class="p-2">
      <div class="p-2">
      <% if policy(@offer).edit? %>
      <%= link_to "Edit", edit_offer_path(@offer), class: "btn btn-gradient"%>
      <% end %>
      <% if policy(@offer).destroy? %>
      <%= button_to "Delete", @offer, method: :delete if policy(@offer).destroy? %>
      <% end %>
      <% if current_user != @offer.user %>
            <%= link_to "Rent this dress!", new_offer_booking_path(@offer), class: "btn btn-gradient" %>
      <% end %>
      <br>
    </div>
  </div>

  <div id="carouselExampleIndicators" class="carousel slide col" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <%= cl_image_tag @offer.photos.first.key, class: "d-block w-100", alt: "First slide" %>
      </div>
      <% @offer.photos[1..-1].each do |photo| %>
      <div class="carousel-item">
        <%= cl_image_tag photo.key, class: "d-block w-100", alt: "Second slide" %>
      </div>
      <% end %>

    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>
