<div class="p-5">
<h1> Dress "<%= @offer.title %>"</h1>
  <div class="p-2">
    <p> Price: <%= @offer.price_per_day %> EUR</p>
    <p> Condition: <%= @offer.condition %></p>
    <p> Description: <%= @offer.description %></p>
    <p> Offered by: <%= @offer.user.first_name %></p>
  </div>
  <div class="p-2 btn btn-outline-dark">
    <%# How can we add and differentiate between owner and normal user? %>
    <%# Owner should be able to delete or edit offer %>

    <%= link_to "Rent this dress!", new_offer_booking_path(@offer), class: "btn btn-gradient" %>
    <% if policy(@offer).edit? %>
    <%= link_to "Edit", edit_offer_path(@offer), class: "btn btn-gradient"%>
    <% end %>
    <%= button_to "Destroy this offer", @offer, method: :delete if policy(@offer).destroy? %>

  </div>
  <br>
  <%= link_to "Back!", offers_path%>
</div>
